.app-wrapper {
  max-width: 550px;
  margin: 30px auto;
}

.weather-app {
  font-family: inherit;
  border: 1px solid #407a78;
  border-radius: 5px;
  text-align: center;
  background-color: #5eaaa8;
}

.header {
  margin-top: 15px;
}
