h1 {
  color: #142691;
  font-size: 60px;
}

h2 {
  color: #08426e;
  font-size: 40px;
}

h3 {
  margin: 20px 0;
}

a {
  color: #08426e;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

form {
  display: inline-block;
  margin: 15px;
}

form input {
  text-align: center;
  color: #596aca;
  font-size: 20px;
  border-radius: 5px;
  border-color: #000000;
}

.form {
  display: block;
  margin: 0 auto;
}

.header {
  font-size: 34px;
}

.today {
  width: 410px;
  border: 3px solid #93beb7;
  padding: 20px;
  margin: 20px 20px 20px 50px;
  background-color: #a3d2ca;
}
.todayInfo {
  line-height: 35px;
  text-align: left;
}

.description {
  font-size: 30px;
}
